*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  /*   border: 2px solid black; */
}
/* Header Style */
body{
    height: 100vh;
}
/* header{
    background-image: url(../images/fondo_header.jpg);
    /* background-repeat: no-repeat; */

/* .headerflex{
    display: flex;
    width: 100vw;
    height: 30vh; 
    justify-content: space-between;
    align-items: center;

}
.headerdiv{
    width: 300px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-evenly;
} */
.encabezado1{
    padding: 30px;
}
.encabezado2{
    font-size: 3rem;
    letter-spacing: 4px;
    padding: 30px;
}
.logoAEvents{
    width: 300px;
    padding: 30px;
    object-fit: cover;
    background-color: rgb(43, 42, 42);
}
.navHeader{
    display: flex;
}
.navMenu{
    background-color: grey;  
    padding: 5px;
    margin: 5px;
    text-align: center;
    text-decoration: none;
    color: black;  
}

/* Footer style */
.footerFlex{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: lighter;
    background-color: grey;
    color: white;
    height: 10vh;
}
.figuresocial{
    display: flex;
    justify-content: space-evenly;
    width: 300px;
    margin: 0;
}
.social{
    width: 50px;
    height: 50px;
    object-fit: contain;
}

.h4social{
    width: 150px;
}

/* Estilo stats.html */
/* 
.tablestats{
    table-layout: auto;
    width: 100%;
    border-collapse: collapse;
    border-style: ridge;
}
.thprincipal{
    border-collapse: collapse;
    border-style: solid;
} */